@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Work+Sans:wght@300&display=swap');
*{ margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	}

	/*main header*/
#main-header{
	    background-position: center;
    background-size: cover;
    height: 64vh;
    opacity: 0.8;
    background-attachment:fixed ;

	background-image: url("image/macbook_mouse.jpg");
}
/*text center*/
.horizontal-list{
	text-align: center;
}

/* remove underline */
.horizontal-list a{
	text-decoration: none;
	color: whitesmoke;
	
}
/*horizontal list*/
.horizontal-list{
padding: 0px;
list-style: none;
margin: 0px;
	
}
.horizontal-list li{
	display: inline-block; 
	margin-right: 37px;
	font-size: 1.3rem;
color: whitesmoke;
margin-left: 8px;
font-weight: 100 ;


	}


	.nav li a:hover{
	color: grey;
	border-bottom: 1px solid whitesmoke;
	
}
	.nav li a:hover{
		transition: color 0.5s,border-bottom 1s;
	}


/*social container*/
#social-container{ 
	margin-top: 20vh;

}


/* social container  */
#name{
	color: whitesmoke;
	text-align: center;
	margin-bottom: 1rem;
	font-family: sans-serif;
	font-size: 3.6rem;
	opacity: 0.9;
	letter-spacing: 0.5rem;


}
#name h1{
margin: 0px;
}


/* icons */

 
#icon-list li a i{
	padding: 10px;
	font-size: 1rem;
	border-radius: 50%;
	margin-bottom: 20px;
}


#icon-list li a i:hover{
	/* horizontal,vertical ,blur,spread */
	box-shadow: 0px 0px 4px 6px rgb(230, 196, 196,0.3);
	}

/*section*/

section{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
 
/* each section has differnt color */
/* second child */
section:nth-child(2n){
	background-color: #EFEFEF;
}
/* first chile */
section:nth-child(2n+1){
	background-color: whitesmoke;
}
/* for highlighting the section */
section:target{
	background-color: #DFCFBE;
	opacity: 0.8;
}


	/*about*/
	#about{
		margin:0px ;
		height:auto;
		width: 100%;
	}
	/*if we make margin div as auto it will come at center*/
	#profile{
		height: 8rem;
		width: 8rem;
		box-sizing: border-box;
		margin: auto;

	}
	#profile img{
		height: 100%;
		width: 100%;

		border-radius: 50%;
		position: relative;
        margin-top: -8vh;
border: 2px solid grey;
box-shadow: 1px 1px 10px 2px lightgrey;


	}
	#about p{
		color: grey;
		text-decoration: none;
		text-align: center;
		 margin-top: -1px;
        opacity: 0.9;
        margin-left: 20vw;
        margin-right: 19.5vw;
    	
}
#about span{
	color: #2857a4;
	}


/* section skillls  */

.section-heading{
	    width: auto;
    padding: 20px 10px 10px;
    margin: 10px auto;
    font-weight: 400;
     
}
.section-heading span{
	font-size: 40px;
	color: #2857a4;
	display: inline-block;
	
}
.mb75px{
	margin-bottom: 75px;
}

.skills-display{ 
	width: 50%;
    padding: 10px;
    margin-bottom: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* skill-boder */
.skill-progress{
	width: 11rem;
	height:2.2rem ;
	background-color: lightgrey;
	border-radius: 1rem;
	margin: 10px;
	transition: 0.4s all;
}
.skill-progress:hover{
	background-color: whitesmoke;
	box-shadow: 0px 2px 10px 5px grey;
	color: black;
}
.skill-progress:focus{
	outline: none;
}
.skill-name{
	color: whitesmoke;
	font-size: 1rem;
	    line-height: 2rem;
    padding-left: 5px;

}
/* color */
.mblue{
	background-color: #2857a4;
}
.morange{
	background-color: orange;
}
.mlg{
	background-color:#93738C ;
}
.green{
	background-color:#0B8176;
}
/* % box inside skill boder/
/* % of inner div */
.eightF{
	width: 85%;
	height: inherit;
}
.sixF{
	width: 65%;
	height: inherit;
}
.FF{
	width: 55%;
	height: inherit;

}
.FF span{
	 font-size: 92%;
	 font-weight: bold;
	 

}
.b{
	display: block;
}


/* changing the boder radius of inner skill boder */

.skill-progress>div{
	border-radius: 20px 0px 0px 20px;

}

/* section portfolio */ 


#portifolio-container{
	width: 70%;
	display:inline-flex;
	flex-wrap: wrap;
	  margin-bottom: 2%;
    justify-content: space-around;

}


  .portfolio-image-container{
  	max-width: 300px;
    overflow: hidden;
    margin: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    

  }
.portfolio-image-container img {
	 width: 100%;
    height: 100%;

}
/* portfolio details */

.portfolio-details {
    transition: all 0.5s ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: transparent;
    text-align: center;
    padding: 10px;
}
.portfolio-details p{
	font-size: 3rem;
	width: auto;
	opacity: 0.8;
	padding: 8px;
}


.portfolio-image-container:hover {
    box-shadow: 0 0 20px 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details  {
    background-color: #80808078;
    color: white;
}
/* contact */
#contact{
	background-color: blue;
	background-image: linear-gradient(to right,#2857a4 0%,#403066 74%);
	color: whitesmoke;

}
#contact h1 span{
color: white;
}
#contact-container{
	display: flex;
	flex-wrap: wrap;
}
#contact-form-container{
	width: 50%;
}
#contact-form input,textarea{
	max-width: 90%;
	margin: 15px;
	border-style: none;
	border-bottom: 2px solid whitesmoke;
    		color: gray;
	background: transparent;
	padding: 10px;
	width: 75%;
	font-size: 1rem;
	margin-left: 15%;
}
.sub-btn {
    background: transparent;
    font-size: 0.9rem;
    border: 2px solid white;
    color: white;
    letter-spacing: 0.1rem;
    padding: 12px;
    font-size: 0.8rem;
    
    margin-top: 6%;
    margin-left: 25%;

    
}
.sub-btn:hover{
	background: whitesmoke;
	color:chocolate;
}
/* right side contact  */
/*my details container*/
#my-details-container{
	width: 35%;
	margin-left: 6%;
}
#my-details-container h3,p{
	margin-bottom: 12px;
	opacity: 0.8;
}
#my-details-container p i{
padding: 10px;
margin-top: -10px;
}
	
/* time-line */
#time-line{
	width: 70%;
	position: relative;

}
.timeline-box{
	position: relative;
	width: 40%;
	min-height: 10rem;
	margin: 10px;
	/* border: 1px solid black; */

}
.timeline-box:nth-child(2n){
	left: 55%;
}

.timelien-box::after{
    content: '';
    position: absolute;
    top: 20%;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgb(204, 201, 201);;
}
.timelien-devider{
    position: absolute;
    height: 75%;
    width: 0;
    top: 8%;
    border: 3px dashed rgb(204, 201, 201);
    left: 50%;

}
.timelien-traveler{
    position: sticky;
    top: 20%;
    transform: rotate(90deg);
}
/* new tm */


/* end tm */


.logoclg{
	    width: 100%;
    height:100%;
	box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.584);
	border-radius: 10px;
    
}
.sch{
	height: 10vh;
    width: 3vw;
    color: #0DA372; 
    display: inline-block;
}
.school span i{
	margin-left: 1rem;
	font-size: 5rem;
}
.school span{
	position: relative;
	color: #0DA372;
	display: inline-block;
	margin-right: -6px;
	height: 10px;
	font-weight: bolder;
	text-transform: uppercase;
}
.university{
	color: #2AA1DD;
		font-size: 6rem;
		opacity: 0.9;
}
#inter-container{
	display: flex;
	font-family: Montserrat;

}
#left{
	margin-right: 100px;
	height:450px;
	width: 900px;
	margin-bottom: 50px;
	color: #4b4b4b;
	
}
#right{
	margin-top: 150px;
	min-height: auto;
	width: 100%;
	color: #4b4b4b;
}

/* education */
.clg{
	
	display: flex;
	justify-content: space-between;
	
	

}
.clg img{
	border-radius: 10%;
	height: 115px;
    width: 127px;
    box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.286);;
	
	
}
.content{
	display: flex;
	flex-direction: column;
	align-items: inherit;
	align-content: flex-start

}
.content h3{
	margin-left: 25px;
}
/* .content h3{
	position: relative;
}
.content h4{
	position: absolute;
	top:60px;
	right:1px; */
	.content h4{
		margin-left: auto;
		/* margin-top: 5px; */
		margin-bottom: 0px;
	
	}
	.content span{
		font-size: small;
		margin-left: auto;
		
	}
	
	
}



/* end-education */





@media screen and (max-width: 992px) {
	
#inter-container {
	  flex-direction: column;
	}
	#left{
		width: auto;
		
	}
  }